.min-inline-size-3rem { min-inline-size: 3rem; }
.cursor-pointer { cursor: pointer; }
.white-space-pre { white-space: pre; }
.glass-background {
  background-color: transparent;
  backdrop-filter: blur(4px);
}
