#new-button,
#open-button { inline-size: 4.5rem; }
#format-button,
#revert-button,
#save-button { inline-size: 6rem; }
a[href="css-formatter.html"],
a[href="html-formatter.html"] { inline-size: 10.5rem; }
a[href="index.html"] { inline-size: 6rem; }
#line-numbers-textarea {
  inline-size: 4rem;
  block-size: 100%;
  white-space: pre;
  resize: none;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
#html-textarea,
#css-textarea {
  block-size: 100%;
  white-space: pre;
  resize: none;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
div.alert > div { white-space: pre; }
